@import 'base.scss';
body {
	background-color: #f4f6f8;
}
.aside {
	position: fixed;
	width: 180px;
	height: 100%;
	background-color: #2f4050;
	.profile {
		padding-top: 25px;
		height: 160px;
		background-color: #243443;
		.imgContainer img {
			width: 80px;
			height: 80px;
			margin: 0 auto;
		}
		h4 {
			padding-top: 5px;
			color: #fff;
		}
	}
	.list-group {
		padding: 15px 0;
		.list-group-item {
			background-color: transparent;
			border: none;
			border-radius: none;
			margin-top: 5px;
			padding: 5px 15px;
			color: #a9b0c2;
			&.active {
				color: #f6f6f6;
				background-color: #243443;
				&:hover {
					background-color: #243443;
				}
				&:active {
					background-color: #243443;
				}
			}
			&:hover {
				color: #f6f6f6;
				background-color: #243443;
			}
			&:active {
				color: #f6f6f6;
			}
			&.subMenu {
				padding-left: 36px;
			}
			i {
				padding-right: 4px;
				&.arr {
					margin-left: 15px;
					line-height: 28px;
					font: normal 400 18px "consolas";
				}
			}
		}
	}
}
.contentContainer {
	position: absolute;
	min-height: 720px;
	left: 180px;
	right: 0;
	.topNav {
		border: none;
		border-radius: 0;
		.panel-body {
			padding: 6px 15px;
			.btn {
				margin-top: 3px;
			}
			.navbar-right {
				min-height: 40px;
				margin-bottom: 0;
				li {
					float: left;
					a {
						background-color: transparent;
					}
				}
			}
		}
	}
}